snippet t "tag snippet" b
<${1:div}>
	<!-- placeholder -->
</${1/(\w+).*/$1/}>
endsnippet

snippet begin "doc start"
<!DOCTYPE html>
<head>
	<title>&1</title>
</head>
<html>
<body>

</body>
</html>
endsnippet
