snippet bf "bolds text"
\textbf{${1:${VISUAL}}}
endsnippet

snippet begin "does a begin/end"
\begin{$1}

\end{$1}
endsnippet

snippet { "brackets"
{$1}
endsnippet

snippet preamble "makes preamble"
\documentclass{article}

\begin{document}


\end{document}
endsnippet
